#delete-all-form {
    display: none;
}

label {
    margin: 10px;
}

#entry-form-text {
    width: 300px;
}

#filter-text {
    width: 300px;
}

#error-message {
    display:none;
}

#shirt-picture {
	width: 300px;
	height: 300px;
}